openapi: 3.0.0
info:
  title: API reference
  description: |-
    Nector - Powerful Customer Engagement & Loyalty Platform

        - Never expose write Access or full access API key in frontend
        - Use read only api key as much as possible
        - Try and use cachefront.nector.io instead of platform.nector.io as much as possible for GET API calls
        - A maximum of 60 API calls are allowed per minute
        - Check your plan usage information from the dashboard
        - Nector enforces strict param check. (Pass string if it requires string and so on)
        - We only support UUIDV4
        - Contact us at support@nector.io for more information

    API keys

        - Read only api key: safe to use from your frontend (web or mobile). Enough for every GET API and for Redeem Offer, Redeem Cross Selling Offer, Checkout Redemption APIs (with x-leadtoken), Create Review, Create QnA, Create Upload and the Referral APIs
        - Full access api key: use only from your backend. Required for Create User, Reward Using Trigger, Create Wallet Transaction, Create Credit Wallet Transaction, Reward Offer and Reward Cross Selling Offer
        - Generate api keys from the dashboard (Settings > API Keys)

    Recommended integration flow

        1. Fetch Aggreegated Details once on app load to get the program settings (coin name, earning ratio, tiers, memberships and so on)
        2. Create User (from your backend) when a customer signs up, then Get User to fetch their wallet balance, tier and membership
        3. Fetch Triggers to render the earning rules and call Reward Using Trigger (from your backend) when the customer completes an action
        4. Fetch Aggreegated Offers to render the redemption rules and call Redeem Offer when the customer spends coins, then Fetch Coupons to show the coupons they own

    Responses

        - Every response is a JSON object with meta and data. On success meta.status is success and data holds the result (item for a single record, items and count for a list)
        - On failure the HTTP status code is non 200, meta.status is error, meta.code repeats the status code and data.message explains the reason. See the 4XX and 5XX responses of each API for the list of codes
        - 422 is the usual failure for business rules (ex. Lead does not exists, No discount is available, Offer is not valid) and data.message is safe to show to the customer

    Get started by creating an account on https://merchant.nector.io
  contact:
    name: nector
    url: https://nector.io?utm_source=api_doc
    email: support@nector.io
  license:
    name: MIT
    url: https://github.com/joinnector/joinnector-resources/blob/master/LICENSE
  version: 1.0.0
servers:
  - url: https://platform.nector.io/api/v2/merchant
  - url: https://cachefront.nector.io/api/v2/merchant

components:
  schemas:
    success:
      title: success
      required:
        - meta
        - data
      type: object
      properties:
        meta:
          type: object
        data:
          type: object
      example:
        meta: {}
        data: {}

    error:
      title: error
      required:
        - meta
        - data
      type: object
      properties:
        meta:
          type: object
          properties:
            request_id:
              type: string
              description: (Unique id of the request, share this with support@nector.io when reporting an issue)
            start_timestamp:
              type: string
              description: (ISO date when the request was received)
            end_timestamp:
              type: string
              description: (ISO date when the response was sent)
            code:
              type: number
              description: (Same as the HTTP status code)
            status:
              type: string
              description: (Always error for a failed request)
        data:
          type: object
          properties:
            message:
              type: string
              description: (Human readable reason, safe to show to the customer for 422 responses, ex. No discount is available)
      example:
        meta:
          request_id: <uuid>
          start_timestamp: <string> (ISO date)
          end_timestamp: <string> (ISO date)
          code: 422
          status: error
        data:
          message: <string> (Human readable reason)

    merchant_create_activities:
      title: merchant_create_activities
      required:
        - trigger_id
      type: object
      properties:
        trigger_id:
          type: string
          description: (Required) (This needs to be triggers _id value)
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        trace:
          $ref: "#/components/schemas/subschema_trace"

      example:
        trigger_id: <uuid> (Required) (This needs to be triggers _id value)
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        trace:
          via_api_for_wallet:
            title: <string> (Any string that needs to be passed as a title) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
            description: <string> (Any string that needs to be passed as a description) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
            operation: <string> (This can only be one of cr,dr) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
            coin_range:
              min: 10
              max: 10
          via_api_for_offer:
            offer_id: <uuid> (This needs to be offers _id value) (This will be ignored if the trigger is not of type offer reward or value override is not allowed)
          via_api_for_email:
            subject: (Any string that needs to be passed as a subject) (This will be ignored if the trigger is not of type emailtool reward or value override is not allowed)
            emailtemplate_id: (This needs to be emailtemplates _id value) (This will be ignored if the trigger is not of type emailtool reward or value override is not allowed)
          params_for_activityrule:
            evaluation_id: <uuid> (This needs to be resource value used while evaluating after_delta_day rule, must be passed along with evaluation_type)
            evaluation_type: <string> (This needs to be resource value type used while evaluating after_delta_day rule, must be passed along with evaluation_id) (This can only be one of leads, coupons, wallettransactions, reviews, orders, triggers)
            count: 1
            amount: 0
          params_for_email:
            randomkey_randomvalue_pair: <string> (any randomkey and randomvalue pair to pass to the emailtemplate) (upto 20 key-value pairs are allowed as part of params_for_email object)

    merchant_create_offerrewards:
      title: merchant_create_offerrewards
      required:
        - offer_id
      type: object
      properties:
        offer_id:
          type: string
          description: (Required) (This needs to be offers _id value) (Use the _id from businessoffers items of Fetch Aggreegated Offers)
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
      example:
        offer_id: <uuid> (Required) (This needs to be offers _id value) (Use the _id from businessoffers items of Fetch Aggreegated Offers)
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)

    merchant_create_offerredeems:
      title: merchant_create_offerredeems
      required:
        - offer_id
      type: object
      properties:
        offer_id:
          type: string
          description: (Required) (This needs to be offers _id value) (Use the _id from businessoffers items of Fetch Aggreegated Offers)
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
      example:
        offer_id: <uuid> (Required) (This needs to be offers _id value) (Use the _id from businessoffers items of Fetch Aggreegated Offers)
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)

    merchant_create_publicofferredeems:
      title: merchant_create_publicofferredeems
      required:
        - publicoffer_id
      type: object
      properties:
        publicoffer_id:
          type: string
          description: (Required) (This needs to be publicoffers _id value) (Use the _id from brandoffers items of Fetch Aggreegated Offers)
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
      example:
        publicoffer_id: <uuid> (Required) (This needs to be publicoffers _id value) (Use the _id from brandoffers items of Fetch Aggreegated Offers)
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)

    merchant_create_publicofferrewards:
      title: merchant_create_publicofferrewards
      required:
        - publicoffer_id
      type: object
      properties:
        publicoffer_id:
          type: string
          description: (Required) (This needs to be publicoffers _id value) (Use the _id from brandoffers items of Fetch Aggreegated Offers)
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
      example:
        publicoffer_id: <uuid> (Required) (This needs to be publicoffers _id value) (Use the _id from brandoffers items of Fetch Aggreegated Offers)
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)

    merchant_create_leads:
      title: merchant_create_leads
      required:
        - customer_id
        - name
        - metadetail
      type: object
      properties:
        customer_id:
          type: string
          description: (Required) (Make sure this is not predictable value. ex any uuid value) (Minimum length is 8) (Maximum length is 128) (This is the mapping id between your system and nector, this value can be used to pull the details of the customer)
        name:
          type: string
          description: (Required) (This is full name of the user ex. John Wick) (Maximum length is 200)
        metadetail:
          type: object
          description: (Required) (One of email or mobile must be passed inside metadetail)
          properties:
            email:
              type: string
              description: (One of mobile or email is required) (This needs to be valid email)
            mobile:
              type: string
              description: (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
            country:
              type: string
              description: (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
            dob:
              type: string
              description: (This needs to be ISO format date only)
      example:
        customer_id: <string> (Required) (Make sure this is not predictable value. ex any uuid value) (Minimum length is 8) (Maximum length is 128) (This is the mapping id between your system and nector, this value can be used to pull the details of the customer)
        name: <string> (Required) (This is full name of the user ex. John Wick) (Maximum length is 200)
        metadetail:
          email: <string> (One of mobile or email is required) (This needs to be valid email)
          mobile: <string> (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
          country: <string> (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
          dob: <string> (This needs to be ISO format date only)

    merchant_update_leads:
      title: merchant_update_leads
      type: object
      properties:
        metadetail:
          properties:
            dob:
              type: string
              description: (This needs to be ISO format date only)
      example:
        metadetail:
          dob: <string> (This needs to be ISO format date only)

    merchant_create_wallettransactions:
      title: merchant_create_wallettransactions
      required:
        - title
        - amount
        - operation
      type: object
      properties:
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        title:
          type: string
          description: (Required) (This needs to be wallettransaction title)
        description:
          type: string
          description: (This needs to be wallettransaction description)
        amount:
          type: number
          description: (Required) (Minimum is 1) (This needs to be the coin amount)
        hash:
          type: string
          description: (Maximum length is 64) (This can be any hash value that you want to pass for mapping between your system and nector, ex. your order id, and can later be used to filter transactions)
        operation:
          type: string
          description: (Required) (This needs to be wallettransaction operation value) (This can only be one of cr,dr) (cr credits coins to the wallet, dr debits coins from the wallet)
      example:
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        title: <string> (Required) (This needs to be wallettransaction title)
        description: <string> (This needs to be wallettransaction description)
        amount: 12
        hash: <string> (Maximum length is 64) (This can be any hash value that you want to pass for mapping between your system and nector)
        operation: <string> (Required) (This needs to be wallettransaction operation value) (This can only be one of cr,dr) (cr credits coins to the wallet, dr debits coins from the wallet)

    merchant_create_creditwallettransactions:
      title: merchant_create_creditwallettransactions
      required:
        - title
        - amount
        - operation
      type: object
      properties:
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        title:
          type: string
          description: (Required) (This needs to be creditwallettransaction title)
        description:
          type: string
          description: (This needs to be creditwallettransaction description)
        amount:
          type: number
          description: (Required) (This needs to be the credit amount, 1 credit = $1)
        hash:
          type: string
          description: (Maximum length is 64) (This can be any hash value that you want to pass for mapping between your system and nector, ex. your order id, and can later be used to filter transactions)
        operation:
          type: string
          description: (Required) (This needs to be creditwallettransaction operation value) (This can only be one of cr,dr) (cr credits the credit wallet, dr debits the credit wallet)
      example:
        lead_id: <uuid> (One of lead_id, customer_id is required) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        title: <string> (Required) (This needs to be creditwallettransaction title)
        description: <string> (This needs to be creditwallettransaction description)
        amount: 12
        hash: <string> (Maximum length is 64) (This can be any hash value that you want to pass for mapping between your system and nector)
        operation: <string> (Required) (This needs to be creditwallettransaction operation value) (This can only be one of cr,dr) (cr credits the credit wallet, dr debits the credit wallet)

    merchant_create_reviews:
      title: merchant_create_reviews
      required:
        - reference_product_source
        - reference_product_id
        - name
        - rating
        - description
      type: object
      properties:
        metadetail:
          properties:
            email:
              type: string
              description: (One of mobile or email is required) (This needs to be valid email)
            mobile:
              type: string
              description: (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
            country:
              type: string
              description: (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
        order_id:
          type: string
          description: (This needs to be orders _id value) (If this is passed then the review will be attached against an order and the review will be marked as verified)
        reference_order_id:
          type: string
          description: (Minimum length is 1) (Maximum length is 128) (This needs to be the order id on your platform, ex. shopify order id) (Alternative to order_id, if this is passed then the review will be attached against the matching order and the review will be marked as verified)
        reference_product_source:
          type: string
          description: (Required) (This needs to be products reference_product_source value) (This can only be one of custom_website,shopify,woocommerce)
        reference_product_id:
          type: string
          description: (Required) (This needs to be products reference_product_id value)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is writing the review)
        rating:
          type: number
          description: (Required) (Minimum is 1) (Maximum is 5) (This needs to be rating of the review)
        description:
          type: string
          description: (Required) (This needs to be description of the review)
      example:
        metadetail:
          email: <string> (One of mobile or email is required) (This needs to be valid email)
          mobile: <string> (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
          country: <string> (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
        order_id: <uuid> (This needs to be orders _id value) (If this is passed then the review will be attached against an order and the review will be marked as verified)
        reference_order_id: <string> (Minimum length is 1) (Maximum length is 128) (This needs to be the order id on your platform, ex. shopify order id) (Alternative to order_id)
        reference_product_source: <string> (Required) (This needs to be products reference_product_source value) (This can only be one of custom_website,shopify,woocommerce)
        reference_product_id: <string> (Required) (This needs to be products reference_product_id value)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is writing the review)
        rating: 4
        description: <string> (Required) (This needs to be description of the review)

    merchant_create_qnas:
      title: merchant_create_qnas
      required:
        - reference_product_source
        - reference_product_id
        - name
        - question
      type: object
      properties:
        metadetail:
          properties:
            email:
              type: string
              description: (One of mobile or email is required) (This needs to be valid email)
            mobile:
              type: string
              description: (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
            country:
              type: string
              description: (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
        reference_product_source:
          type: string
          description: (Required) (This needs to be products reference_product_source value) (This can only be one of custom_website,shopify,woocommerce)
        reference_product_id:
          type: string
          description: (Required) (This needs to be products reference_product_id value)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is writing the qna)
        question:
          type: string
          description: (Required) (This needs to be the question of the user)
      example:
        metadetail:
          email: <string> (One of mobile or email is required) (This needs to be valid email)
          mobile: <string> (Minimum length is 4) (Maximum length is 15) (One of mobile or email is required)
          country: <string> (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
        reference_product_source: <string> (Required) (This needs to be products reference_product_source value) (This can only be one of custom_website,shopify,woocommerce)
        reference_product_id: <string> (Required) (This needs to be products reference_product_id value)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is writing the qna)
        question: <string> (Required) (This needs to be the question of the user)

    merchant_create_uploads:
      title: merchant_create_uploads
      required:
        - file
        - parent_id
        - parent_type
      type: object
      properties:
        file:
          type: string
          format: binary
          description: (Required) (The image or video file to upload, sent as the file field of a multipart/form-data request)
        parent_id:
          type: string
          description: (Required) (This needs to be reviews or qnas _id value)
        parent_type:
          type: string
          description: (Required) (This can only be one of reviews,qnas)
        position:
          type: number
          description: (Minimum is 1) (Defaults to 1) (This needs to be the position of the upload among the uploads of the same review or qna)
      example:
        file: <binary> (Required) (The image or video file)
        parent_id: <string> (Required) (This needs to be reviews or qnas _id value)
        parent_type: <string> (Required) (This can only be one of reviews,qnas)
        position: 1

    merchant_create_referralviaemailleads:
      title: merchant_create_referralviaemailleads
      required:
        - referred_by_referral_code
        - name
      type: object
      properties:
        referred_by_referral_code:
          type: string
          description: (Required) (This needs to be leads referral_code value of the customer who is referring)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          properties:
            email:
              type: string
              description: (Required) (This needs to be valid email)
      example:
        referred_by_referral_code: <string> (Required) (This needs to be leads referral_code value of the customer who is referring)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          email: <string> (Required) (This needs to be valid email)

    merchant_create_referralviamobileleads:
      title: merchant_create_referralviamobileleads
      required:
        - referred_by_referral_code
        - name
      type: object
      properties:
        referred_by_referral_code:
          type: string
          description: (Required) (This needs to be leads referral_code value of the customer who is referring)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          properties:
            mobile:
              type: string
              description: (Required) (Minimum length is 4) (Maximum length is 15)
            country:
              type: string
              description: (Required) (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
      example:
        referred_by_referral_code: <string> (Required) (This needs to be leads referral_code value of the customer who is referring)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          mobile: <string> (Required) (Minimum length is 4) (Maximum length is 15)
          country: <string> (Required) (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)

    merchant_create_inviteviaemailleads:
      title: merchant_create_inviteviaemailleads
      required:
        - referred_by_referral_code
        - name
      type: object
      properties:
        referred_by_referral_code:
          type: string
          description: (Required) (This needs to be leads referral_code value of the customer who is referring)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          properties:
            email:
              type: string
              description: (Required) (This needs to be valid email)
      example:
        referred_by_referral_code: <string> (Required) (This needs to be leads referral_code value of the customer who is referring)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          email: <string> (Required) (This needs to be valid email)

    merchant_create_inviteviamobileleads:
      title: merchant_create_inviteviamobileleads
      required:
        - referred_by_referral_code
        - name
      type: object
      properties:
        referred_by_referral_code:
          type: string
          description: (Required) (This needs to be leads referral_code value of the customer who is referring)
        name:
          type: string
          description: (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          properties:
            mobile:
              type: string
              description: (Required) (Minimum length is 4) (Maximum length is 15)
            country:
              type: string
              description: (Required) (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)
      example:
        referred_by_referral_code: <string> (Required) (This needs to be leads referral_code value of the customer who is referring)
        name: <string> (Required) (Maximum length is 200) (This needs to be the name of the user who is getting referred)
        metadetail:
          mobile: <string> (Required) (Minimum length is 4) (Maximum length is 15)
          country: <string> (Required) (This needs to be one of the allowed countries, required when mobile is passed) (Should be 3 character long and lowercase ex. usa)

    merchant_create_checkoutcheckboxactions:
      title: merchant_create_checkoutcheckboxactions
      required:
        - action
        - amount
      type: object
      properties:
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        action:
          type: string
          description: (Required) (This can only be one of list,perform,revert) (list returns the discount the customer can get for this cart, perform generates the discount coupon, revert cancels the coupon generated earlier)
        amount:
          type: number
          description: (Required) (Minimum is 1) (This needs to be the cart total amount in your store currency, before the loyalty discount)
      example:
        lead_id: <uuid> (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        action: <string> (Required) (This can only be one of list,perform,revert)
        amount: 1500

    merchant_create_checkoutpageactions:
      title: merchant_create_checkoutpageactions
      required:
        - action
        - amount
      type: object
      properties:
        lead_id:
          type: string
          description: (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (This needs to be leads _id value)
        customer_id:
          type: string
          description: (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        action:
          type: string
          description: (Required) (This can only be one of list,perform,revert) (list returns the maximum discount and the step size the customer can redeem for this cart, perform generates the discount coupon for the chosen step, revert cancels the coupon generated earlier)
        amount:
          type: number
          description: (Required) (Minimum is 1) (This needs to be the cart total amount in your store currency, before the loyalty discount)
        step:
          type: number
          description: (Required when action is perform) (Minimum is 1) (Number of steps the customer chose to redeem, must be less than or equal to delta_step returned by the list action) (Coins deducted = delta_mincoinperstep x step, discount = delta_minfiatperstep x step)
        line_items:
          type: array
          description: (Optional) (Pass the cart line items when the checkout page offer is restricted to specific products or collections, so that the discount is calculated only on the applicable items) (When omitted the full cart amount is considered applicable)
          items:
            type: object
            required:
              - reference_product_id
              - reference_product_source
              - quantity
              - price
              - discount_amount
              - total_amount
            properties:
              reference_product_id:
                type: string
                description: (Required) (This needs to be the product id on your platform, ex. shopify product id)
              reference_product_source:
                type: string
                description: (Required) (This can only be one of custom_website,shopify,woocommerce)
              quantity:
                type: number
                description: (Required) (Minimum is 0)
              price:
                type: number
                description: (Required) (Minimum is 0) (Unit price of the product)
              discount_amount:
                type: number
                description: (Required) (Minimum is 0) (Discount already applied on this line)
              total_amount:
                type: number
                description: (Required) (Minimum is 0) (Line total after discount, this is the amount used for the applicable cart calculation)
      example:
        lead_id: <uuid> (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (This needs to be leads _id value)
        customer_id: <string> (One of lead_id, customer_id is required, unless x-leadtoken header is passed) (Minimum length is 8) (Maximum length is 128) (This needs to be leads customer_id value)
        action: <string> (Required) (This can only be one of list,perform,revert)
        amount: 1500
        step: 3
        line_items:
          - reference_product_id: <string> (Required) (This needs to be the product id on your platform)
            reference_product_source: <string> (Required) (This can only be one of custom_website,shopify,woocommerce)
            quantity: 1
            price: 1500
            discount_amount: 0
            total_amount: 1500

    subschema_trace:
      title: subschema_trace
      type: object
      properties:
        via_api_for_wallet:
          $ref: "#/components/schemas/subschema_trace_wallet_reward"
        via_api_for_offer:
          $ref: "#/components/schemas/subschema_trace_offer_reward"
        via_api_for_email:
          $ref: "#/components/schemas/subschema_trace_email_reward"
        via_api_for_event:
          $ref: "#/components/schemas/subschema_trace_event_reward"
        via_api_for_webhook:
          $ref: "#/components/schemas/subschema_trace_webhook_reward"
        params_for_activityrule:
          type: object
          properties:
            evaluation_id:
              type: string
              description: <uuid> (This needs to be resource value used while evaluating after_delta_day rule, must be passed along with evaluation_type)
            evaluation_type:
              type: string
              description: <string> (This needs to be resource value type used while evaluating after_delta_day rule, must be passed along with evaluation_id) (This can only be one of leads, coupons, wallettransactions, reviews, orders, triggers)
            count:
              type: number
              description: <number> (Minimum value is 1) (This needs to be valid integer value use while evaluating on_activity_count_reached, on_timeline_count_reached rules)
            amount:
              type: number
              description: <number> (Minimum value is 0) (This needs to be valid number value use while evaluating on_order_amount_matched, on_activity_amount_reached, on_timeline_amount_reached rules)
        params_for_email:
          type: object
          properties:
            randomkey_randomvalue_pair:
              type: string
              description: <string> (any randomvalue to pass to the emailtemplate) (upto 20 key-value pairs are allowed as part of params_for_email object)
        params_for_event:
          type: object
          properties:
            randomkey_randomvalue_pair:
              type: string
              description: <string> (any randomvalue to pass to the event) (upto 20 key-value pairs are allowed as part of params_for_event object)
        params_for_webhook:
          type: object
          properties:
            randomkey_randomvalue_pair:
              type: string
              description: <string> (any randomvalue to pass to the webhook) (upto 20 key-value pairs are allowed as part of params_for_webhook object)

    subschema_trace_wallet_reward:
      title: subschema_trace_wallet_reward
      type: object
      properties:
        title:
          type: string
          description: (Any string that needs to be passed as a title) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
        description:
          type: string
          description: (Any string that needs to be passed as a description) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
        operation:
          type: string
          description: <string> (This can only be one of cr,dr) (This will be ignored if the trigger is not of type wallet reward or value override is not allowed)
        coin_range:
          type: object
          description: (This is the range between which the wallet point will be rewarded, pass the same value for min and max to reward a fixed amount) (This will be ignored if the rule is not of type wallet reward or it does not allow value override)
          properties:
            min:
              type: number
              description: (Minimum is 0) (Lower bound of the coins to reward)
            max:
              type: number
              description: (Minimum is 0) (Upper bound of the coins to reward)

    subschema_trace_offer_reward:
      title: subschema_trace_offer_reward
      type: object
      properties:
        offer_id:
          type: string
          description: (This needs to be offers _id value) (This will be ignored if the rule is not of type offer reward or it does not allow value override)

    subschema_trace_email_reward:
      title: subschema_trace_email_reward
      type: object
      properties:
        subject:
          type: string
          description: (Any string that needs to be passed as a subject) (This will be ignored if the trigger is not of type emailtool reward or value override is not allowed)
        emailtemplate_id:
          type: string
          description: (This needs to be emailtemplates _id value) (This will be ignored if the trigger is not of type emailtool reward or value override is not allowed)

    subschema_trace_event_reward:
      title: subschema_trace_event_reward
      type: object
      properties:
        event_topic:
          type: string
          description: (Any string that needs to be passed as a topic) (This will be ignored if the trigger is not of type event reward or value override is not allowed)
        integration_id:
          type: string
          description: (This needs to be integrations _id value) (This will be ignored if the trigger is not of type event reward or value override is not allowed)

    subschema_trace_webhook_reward:
      title: subschema_trace_webhook_reward
      type: object
      properties:
        webhook_topic:
          type: string
          description: (Any string that needs to be passed as a topic) (This will be ignored if the trigger is not of type webhook reward or value override is not allowed)
        webhook_uri:
          type: string
          description: (This needs to be uri to which the webhook will be called) (This will be ignored if the trigger is not of type webhook reward or value override is not allowed)
        webhook_secret:
          type: string
          description: (This needs to be valid secret, based on this the business can verify the webhook) (This will be ignored if the trigger is not of type webhook reward or value override is not allowed)

tags:
  - name: Trigger APIs (Easiest way to start rewarding with nector)
    description: Reward a customer by firing a trigger configured on the dashboard. The trigger decides what is rewarded (coins, offer, email, event or webhook) and how often, so your code only needs the trigger id.
  - name: User APIs
    description: Create and fetch customers (leads). A lead holds the wallet balance, tier, membership and referral code of the customer.
  - name: Wallet Reward APIs
    description: Credit or debit coins in the primary wallet of a customer directly and fetch the wallet transactions.
  - name: Credit Wallet Reward APIs
    description: Credit or debit the secondary credit wallet (store credit, gift cards, returns) where 1 credit = 1 unit of your currency. Available on select plans only.
  - name: Offer Reward or Redeem APIs
    description: Give an offer to a customer for free (reward) or let them spend coins on it (redeem), and fetch the resulting coupons. Offer ids come from businessoffers of Fetch Aggreegated Offers.
  - name: Cross Selling Offer Reward or Redeem APIs
    description: Same as Offer Reward or Redeem APIs but for partner brand offers (open loop loyalty). Public offer ids come from brandoffers of Fetch Aggreegated Offers.
  - name: Checkout Redemption APIs
    description: Let the customer redeem coins directly on your checkout as a discount code. Backed by the Checkout Checkbox and Checkout Page actions configured on the dashboard, each action uses its own offer (classification action_checkoutcheckbox or action_checkoutpage) to decide the coin to discount ratio. Currently the generated discount code is created on Shopify, so the offer rule type must be shopify.
  - name: Review APIs
    description: Create and fetch product reviews collected on behalf of your customers.
  - name: QnA APIs
    description: Create and fetch product questions collected on behalf of your customers.
  - name: Referral APIs
    description: Claim a referral code, invite friends and fetch the referrals of a customer.
  - name: Upload Image or Video APIs
    description: Attach an image or video to a review or qna.
  - name: Earning, Redemption & Settings Listing APIs
    description: Read only APIs that return the loyalty program configuration in one call each, the earning rules (triggers), the redemption rules (offers) and the program settings. Use these to render the program on your app or website.

paths:
  /activities:
    post:
      operationId: merchantv2_create_activities
      tags:
        - Trigger APIs (Easiest way to start rewarding with nector)
      summary: Reward Using Trigger
      description: This API is used to reward users based on the trigger. The trigger can be any of the following wallet reward, offer reward, email, event, or webhook. The trigger can be set up in the Nector dashboard and its _id can be fetched using Fetch Triggers. The earning rule of the trigger (once, once in a period, on activity count reached and so on) is evaluated on our side, so it is safe to call this API on every occurrence of the action. This API can be called only with full access api key, make sure to call this API only from your backend using full access api key. DO NOT EXPOSE FULL ACCESS API KEY
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_activities"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /leads-referral-via-email:
    post:
      operationId: merchantv2_create_referralviaemailleads
      tags:
        - Referral APIs
      summary: Claim Referral Code via Email
      description: This API is intended for situations where the referee has their friend's referral code. For example, an existing customer shares their referral code with friends, enabling them to sign up. This process also creates an account for the referee on the host platform (e.g., Shopify or WooCommerce).
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_referralviaemailleads"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /leads-referral-via-mobile:
    post:
      operationId: merchantv2_create_referralviamobileleads
      tags:
        - Referral APIs
      summary: Claim Referral Code via Mobile Number
      description: This API is designed for scenarios where the referee has a friend's referral code, such as when an existing customer shares their code with friends. Using the code will create an account on the host platform (e.g., Shopify). This functionality is available exclusively for Shopify brands.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_referralviamobileleads"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /leads-invite-via-email:
    post:
      operationId: merchantv2_create_inviteviaemailleads
      tags:
        - Referral APIs
      summary: Invite Friends via Email
      description: This API is tailored for situations where the referrer knows their friend's email address and wants to send them an invitation. For instance, an existing customer can enter their friend's email to invite them. This action will also create an account for the friend on the host platform (e.g., Shopify or WooCommerce).
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_inviteviaemailleads"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /leads-invite-via-mobile:
    post:
      operationId: merchantv2_create_inviteviamobileleads
      tags:
        - Referral APIs
      summary: Invite Friends via Mobile Number
      description: This API is designed for scenarios where the referrer knows their friend's mobile number and wants to send them an invitation. For example, an existing customer can enter their friend's mobile number to invite them. This action will also create an account for the friend on the host platform (e.g., Shopify). This functionality is available exclusively for Shopify brands.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_inviteviamobileleads"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /referrals/{id}:
    get:
      operationId: merchantv2_get_referrals
      tags:
        - Referral APIs
      summary: Get Referral
      description: Get details of the referral
      parameters:
        - name: id
          in: path
          description: (Required) (This needs to be referrals _id value)
          required: true
          schema:
            type: string
        - name: referred_by_lead_id
          in: query
          description: (This needs to be leads _id value) (one of referred_to_lead_id or referred_by_lead_id is required)
          schema:
            type: string
        - name: referred_to_lead_id
          in: query
          description: (This needs to be leads _id value) (one of referred_to_lead_id or referred_by_lead_id is required)
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /referrals:
    get:
      operationId: merchantv2_list_referrals
      tags:
        - Referral APIs
      summary: Fetch Referrals
      description: Fetch referrals based on various filters
      parameters:
        - name: referred_by_lead_id
          in: query
          description: (This needs to be leads _id value) (one of referred_to_lead_id or referred_by_lead_id is required)
          schema:
            type: string
        - name: referred_to_lead_id
          in: query
          description: (This needs to be leads _id value) (one of referred_to_lead_id or referred_by_lead_id is required)
          schema:
            type: string
        - name: id
          in: query
          description: (This needs to be referrals _id value)
          schema:
            type: string
        - name: page
          in: query
          description: (Minimum is 1)
          schema:
            type: number
        - name: limit
          in: query
          description: (Minimum is 1) (Maximum is 100)
          schema:
            type: number
        - name: sort
          in: query
          description: (This can only be one of created_at,updated_at)
          schema:
            type: string
        - name: sort_op
          in: query
          description: (This can only be one of ASC,DESC)
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /offerrewards:
    post:
      operationId: merchantv2_create_offerrewards
      tags:
        - Offer Reward or Redeem APIs
      summary: Reward Offer
      description: Reward an offer to the customer for free, i.e. a coupon is generated without deducting wallet points. Use the offer _id from businessoffers of Fetch Aggreegated Offers. This API can be called only with full access api key, make sure to call this API only from your backend using full access api key. DO NOT EXPOSE FULL ACCESS API KEY
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_offerrewards"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /offerredeems:
    post:
      operationId: merchantv2_create_offerredeems
      tags:
        - Offer Reward or Redeem APIs
      summary: Redeem Offer
      description: Redeem an offer using wallet points, i.e. the coin_amount of the offer rule is deducted from the wallet and a coupon is generated. Use the offer _id from businessoffers of Fetch Aggreegated Offers. Only offers in published status can be redeemed, listed offers are display only. Read only api key is sufficient.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_offerredeems"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /coupons/{id}:
    get:
      operationId: merchantv2_get_coupons
      tags:
        - Offer Reward or Redeem APIs
      summary: Get Coupon
      description: Get details of the coupon
      parameters:
        - name: id
          in: path
          description: (Required) (This needs to be coupons _id value)
          required: true
          schema:
            type: string
        - name: lead_id
          in: query
          description: (Required) (This needs to be leads _id value)
          required: true
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /coupons:
    get:
      operationId: merchantv2_list_coupons
      tags:
        - Offer Reward or Redeem APIs
      summary: Fetch Coupons
      description: Fetch the coupons owned by a customer, i.e. the result of Reward Offer, Redeem Offer or an offer reward trigger. Each coupon carries the code, status, expiry and the offer it was generated from.
      parameters:
        - name: lead_id
          in: query
          description: (Required) (This needs to be leads _id value)
          required: true
          schema:
            type: string
        - name: offer_id
          in: query
          description: (This needs to be coupons offer_id value) (Filter coupons generated from a specific offer)
          schema:
            type: string
        - name: id
          in: query
          description: (This needs to be coupons _id value)
          schema:
            type: string
        - name: page
          in: query
          description: (Minimum is 1)
          schema:
            type: number
        - name: limit
          in: query
          description: (Minimum is 1) (Maximum is 100)
          schema:
            type: number
        - name: sort
          in: query
          description: (This can only be one of created_at,updated_at)
          schema:
            type: string
        - name: sort_op
          in: query
          description: (This can only be one of ASC,DESC)
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /publicofferrewards:
    post:
      operationId: merchantv2_create_publicofferrewards
      tags:
        - Cross Selling Offer Reward or Redeem APIs
      summary: Reward Cross Selling Offer
      description: Reward a partner brand offer to the customer for free, i.e. a public coupon is generated without deducting wallet points. Use the publicoffer _id from brandoffers of Fetch Aggreegated Offers. Relevant only for open loop loyalty. This API can be called only with full access api key, make sure to call this API only from your backend using full access api key. DO NOT EXPOSE FULL ACCESS API KEY
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_publicofferrewards"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /publicofferredeems:
    post:
      operationId: merchantv2_create_publicofferredeems
      tags:
        - Cross Selling Offer Reward or Redeem APIs
      summary: Redeem Cross Selling Offer
      description: Redeem a partner brand offer using wallet points, i.e. coins are deducted from the wallet and a public coupon is generated. Use the publicoffer _id from brandoffers of Fetch Aggreegated Offers. Relevant only for open loop loyalty. Read only api key is sufficient.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_publicofferredeems"
        required: true

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /publiccoupons/{id}:
    get:
      operationId: merchantv2_get_publiccoupons
      tags:
        - Cross Selling Offer Reward or Redeem APIs
      summary: Get Cross Selling Coupon
      description: Get details of the cross selling coupon
      parameters:
        - name: id
          in: path
          description: (Required) (This needs to be publiccoupons _id value)
          required: true
          schema:
            type: string
        - name: lead_id
          in: query
          description: (Required) (This needs to be leads _id value)
          required: true
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /publiccoupons:
    get:
      operationId: merchantv2_list_publiccoupons
      tags:
        - Cross Selling Offer Reward or Redeem APIs
      summary: Fetch Cross Selling Coupons
      description: Fetch the partner brand coupons owned by a customer, i.e. the result of Reward Cross Selling Offer or Redeem Cross Selling Offer.
      parameters:
        - name: lead_id
          in: query
          description: (Required) (This needs to be leads _id value)
          required: true
          schema:
            type: string
        - name: publicoffer_id
          in: query
          description: (This needs to be publiccoupons publicoffer_id value) (Filter coupons generated from a specific partner brand offer)
          schema:
            type: string
        - name: id
          in: query
          description: (This needs to be publiccoupons _id value)
          schema:
            type: string
        - name: page
          in: query
          description: (Minimum is 1)
          schema:
            type: number
        - name: limit
          in: query
          description: (Minimum is 1) (Maximum is 100)
          schema:
            type: number
        - name: sort
          in: query
          description: (This can only be one of created_at,updated_at)
          schema:
            type: string
        - name: sort_op
          in: query
          description: (This can only be one of ASC,DESC)
          schema:
            type: string
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /actions-checkoutcheckbox:
    post:
      tags:
        - Checkout Redemption APIs
      operationId: merchantv2_create_checkoutcheckboxactions
      summary: Checkout Checkbox Redemption
      description: |-
        Single step redemption for the checkout checkbox flow, i.e. a "Use my coins" checkbox on the cart or checkout. The discount is always the maximum the customer can get for the cart, there is no step selection.

            - The offer used is the published or active offer with classification action_checkoutcheckbox. If the customer has a membership (or else a tier) and an offer restricted to that membership (or tier) exists, that offer is used instead of the universal one
            - The discount is capped by the offer fiat_range, the customer's coin balance, the cart amount and the minimum cart configured on the offer
            - Requires the Checkout Checkbox action to be active on the dashboard, otherwise the API fails
            - Calls for the same customer are serialised, so concurrent calls from multiple tabs are safe

        Actions

            - list: returns points_balance and a promotions entry describing the discount that can be applied (coin_value to deduct, fiat_value discount, delta_amount payable after discount). If a valid coupon was already generated for this cart amount, it returns that coupon in coupons instead
            - perform: generates the discount coupon and returns it in coupons. Use coupons[0].value as the discount code on the checkout (it starts with neccbox). The coins are deducted when the order is placed with the code, not at generation. The coupon expires in 24 hours if unused. Calling perform again with the same amount returns the existing coupon, calling it with a different amount cancels the old coupon and generates a new one
            - revert: cancels the coupon generated earlier (status becomes unavailable and the discount code is removed from the store). Call this when the customer unticks the checkbox or removes the code

        Errors are returned with a message such as "No discount is available" when the cart is below the minimum cart, the customer has no coins, or the offer is not configured.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
        - name: x-leadtoken
          in: header
          description: (Required only when calling with a read only storefront api key) (This needs to be the lead_token returned by Get User, valid for 1 hour) (When passed, lead_id and customer_id in the body are ignored and the customer is taken from the token)
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_checkoutcheckboxactions"
        required: true

      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/success"
              example:
                meta: {}
                data:
                  item:
                    action: <string> (Echo of the action passed, one of list,perform,revert)
                    points_label: <string> (Label to show next to the balance, ex. Coins)
                    points_balance: <string> (Current coin balance of the customer)
                    offers:
                      - name: <string> (Present for list)
                        description: <string>
                    promotions:
                      - type: <string> (Present for list) (One of flat_discount,percent_discount)
                        title: <string> (Ready to display title, ex. Get $150 off)
                        description: <string> (Ready to display description, ex. Redeem 1500 coins)
                        coin_value: <number> (Coins that will be deducted)
                        fiat_value: <number> (Discount value, an amount for flat_discount or a percent for percent_discount)
                        delta_redeemable: <number> (Discount amount in currency)
                        delta_amount: <number> (Cart amount payable after the discount)
                        delta_mincoinperstep: <number> (Coins per step as configured on the offer)
                        delta_minfiatperstep: <number> (Discount per step as configured on the offer)
                        delta_step: <number> (Number of steps applied)
                    coupons:
                      - _id: <uuid> (Present for perform, or for list when a coupon already exists)
                        value: <string> (Discount code to apply on the checkout, starts with neccbox)
                        fiat_class: <string> (One of amount,percent)
                        fiat_value: <number>
                        status: <string> (issued)
                        redirect_link: <string> (Checkout link with the discount code applied, when configured)
                        expire: <string> (ISO date, 24 hours after generation)
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /actions-checkoutpage:
    post:
      tags:
        - Checkout Redemption APIs
      operationId: merchantv2_create_checkoutpageactions
      summary: Checkout Page Redemption
      description: |-
        Multi step redemption for the checkout page flow, i.e. a slider or stepper on the checkout where the customer chooses how many coins to redeem.

            - The offer used is the published or active offer with classification action_checkoutpage. If the customer has a membership (or else a tier) and an offer restricted to that membership (or tier) exists, that offer is used instead of the universal one
            - Each step deducts delta_mincoinperstep coins and gives delta_minfiatperstep discount. delta_step returned by list is the maximum number of steps allowed for this cart, capped by the offer fiat_range, the customer's coin balance, the cart amount and the minimum cart configured on the offer
            - Pass line_items when the offer is restricted to specific products or collections, the applicable cart amount is then the sum of total_amount of the matching lines (capped by amount). When line_items is omitted the full amount is considered applicable
            - Requires the Checkout Page action to be active on the dashboard, otherwise the API fails
            - Calls for the same customer are serialised, so concurrent calls from multiple tabs are safe

        Actions

            - list: returns points_balance and a promotions entry with the maximum discount (coin_value, fiat_value, delta_amount) and the step configuration (delta_mincoinperstep, delta_minfiatperstep, delta_step). Render the slider from 1 to delta_step. If a valid coupon was already generated and still fits the cart, it returns that coupon in coupons instead
            - perform: requires step. Generates the discount coupon for the chosen step and returns it in coupons. Use coupons[0].value as the discount code on the checkout (it starts with necpage). step greater than delta_step fails with "Steps cannot be greater than allowed steps". The coins are deducted when the order is placed with the code, not at generation. The coupon expires in 24 hours if unused. Calling perform again when an existing coupon still fits the cart returns it, otherwise the old coupon is cancelled and a new one is generated
            - revert: cancels the coupon generated earlier (status becomes unavailable and the discount code is removed from the store). Call this when the customer resets the slider or removes the code

        Errors are returned with a message such as "No discount is available" when the cart is below the minimum cart, the customer has no coins, or the offer is not configured.
      parameters:
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string
        - name: x-leadtoken
          in: header
          description: (Required only when calling with a read only storefront api key) (This needs to be the lead_token returned by Get User, valid for 1 hour) (When passed, lead_id and customer_id in the body are ignored and the customer is taken from the token)
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/merchant_create_checkoutpageactions"
        required: true

      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/success"
              example:
                meta: {}
                data:
                  item:
                    action: <string> (Echo of the action passed, one of list,perform,revert)
                    points_label: <string> (Label to show next to the balance, ex. Coins)
                    points_balance: <string> (Current coin balance of the customer)
                    offers:
                      - name: <string> (Present for list)
                        description: <string>
                    promotions:
                      - type: <string> (Present for list) (One of flat_discount,percent_discount)
                        title: <string> (Ready to display title for the maximum discount)
                        description: <string> (Ready to display description)
                        coin_value: <number> (Coins deducted at the maximum step)
                        fiat_value: <number> (Discount at the maximum step, an amount for flat_discount or a percent for percent_discount)
                        delta_redeemable: <number> (Discount amount in currency at the maximum step)
                        delta_amount: <number> (Cart amount payable after the maximum discount)
                        delta_mincoinperstep: <number> (Coins per step, slider increment in coins)
                        delta_minfiatperstep: <number> (Discount per step, slider increment in currency or percent)
                        delta_step: <number> (Maximum number of steps allowed for this cart)
                    coupons:
                      - _id: <uuid> (Present for perform, or for list when a coupon already exists)
                        value: <string> (Discount code to apply on the checkout, starts with necpage)
                        fiat_class: <string> (One of amount,percent)
                        fiat_value: <number>
                        status: <string> (issued)
                        redirect_link: <string> (Checkout link with the discount code applied, when configured)
                        expire: <string> (ISO date, 24 hours after generation)
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /triggers:
    get:
      tags:
        - Earning, Redemption & Settings Listing APIs
      operationId: merchantv2_list_triggers
      summary: Fetch Triggers (Aggregated Earning Rules)
      description: |-
        Fetches the aggregated earning rules of your loyalty program, i.e. the triggers through which a customer can earn (signup, purchase, review, referral, birthday, social follows and so on).

            - Only triggers that are active and visible are returned, ordered by their position as configured on the dashboard
            - Pass content_types to fetch only earn or only social triggers
            - Pass lead_id to also get activities, the number of times that customer has already completed each trigger (useful to show completed / pending state in the UI)
            - Triggers of reward_type offer carry the linked offer object so the reward coupon can be rendered without an extra call
            - Use this API along with Fetch Aggreegated Details (program settings) and Fetch Aggreegated Offers (redemption rules) to render the complete loyalty program on your app or website
            - Prefer cachefront.nector.io for this call

        Response data contains

            - items: array of triggers (_id, slug, name, content_type, reward_type, rule_type, render_type, reward, rule, content, position, is_open, is_override, offer)
            - count: total number of matching triggers
            - activities: array of { trigger_id, count } for the given lead_id (empty array when lead_id is not passed)
      parameters:
        - name: id
          in: query
          description: (This needs to be triggers _id value) (Fetch a single trigger)
          schema:
            type: string
        - name: lead_id
          in: query
          description: (This needs to be leads _id value) (When passed, activities array in the response contains the completion count of each trigger for this customer)
          schema:
            type: string
        - name: content_types
          in: query
          description: (This can only be one of earn,social) (Pass multiple times to include more than one content type, ex. content_types=earn&content_types=social) (Defaults to all)
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - earn
                - social
        - name: page
          in: query
          description: (Minimum is 1) (Defaults to 1)
          schema:
            type: number
        - name: limit
          in: query
          description: (Minimum is 1) (Maximum is 100) (Defaults to 20)
          schema:
            type: number
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey) (Read only api key is sufficient)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
          description: (Required) (This needs to be your workspaceid)
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "200"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/success"
              example:
                meta: {}
                data:
                  items:
                    - _id: <uuid>
                      slug: <string>
                      name: <string>
                      content_type: <string> (One of earn,social)
                      reward_type: <string> (One of wallet,offer,email,sms,rcs,whatsapp,event,webhook)
                      rule_type: <string>
                      render_type: <string>
                      reward: <object> (Reward config, ex. coin_range for wallet reward or offer_id for offer reward)
                      rule: <object> (Earning rule config, ex. once, onceinaperiod, after_delta_day)
                      content: <object> (Display content, ex. title, description, icon, action link)
                      position: <number>
                      is_open: <boolean>
                      is_override: <boolean>
                      offer: <object> (Present only when reward_type is offer)
                  count: <number>
                  activities:
                    - trigger_id: <uuid>
                      count: <number>
        "4XX":
          description: Client error. The HTTP status code is one of 400 (validation failed), 401 (api key, workspace id or lead token not valid), 403 (not allowed), 404 (not found), 422 (business rule failed, read data.message), 428 (another request for the same customer is in progress, retry after a moment), 429 (rate limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
        "5XX":
          description: Unexpected error on our side. Retry with backoff and share meta.request_id with support@nector.io if it persists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
      security: []

  /aggreegateddetails:
    get:
      tags:
        - Earning, Redemption & Settings Listing APIs
      operationId: merchantv2_get_aggreegateddetails
      summary: Fetch Aggreegated Details (Program Settings)
      description: |-
        Fetches the complete configuration of your loyalty program in a single call. Call this once when your app or website loads and cache the result on the client.

            - Pass tier and/or membership of the logged in customer (from the leads object) to get the rules applicable to that tier / membership. Pass nothing (or null) for guest users to get the base rules
            - An unknown tier or membership is silently ignored and the base rules are returned
            - Response is cached on our side for up to 10 minutes, so changes made on the dashboard can take up to 10 minutes to reflect
            - Use this API along with Fetch Triggers (earning rules) and Fetch Aggreegated Offers (redemption rules) to render the complete loyalty program
            - Prefer cachefront.nector.io for this call

        Response data contains

            - businessinfos: your business entity (_id, workspace_id, integration_identifier, name, business_uri, program_name, coin_name, category, country, currency_code, language, quickdeploy_meta, is_freezed, is_running)
            - websdkinfos: storefront widget and page configs (appconfigs) used by the nector web sdk
            - planfeatureinfos: plan limits and the features enabled on your plan
            - featuresettinginfos: same as planfeatureinfos (kept for backward compatibility)
            - actioninfos: action rules of the program keyed by action, ex. loyalty_action (coin earning and spending ratio), tier_action, membership_action, referral_action, review_action, birthday_action, anniversary_action, gender_action, visitor_action, coinexpiry_action, creditexpiry_action, checkoutcheckbox_action, checkoutpage_action, orderrewardrevert_action, orderspentrevert_action, orderspentcreditrevert_action
            - integrationinfos: per integration reward rules (identifier, classification, rule_type, rule, status, tier, membership)
            - tooltrackinfos: third party tools detected on your storefront (counts of *_track stats for the current day)
            - miscinfos: currencyexchangerate of your business currency against usd
      parameters:
        - name: tier
          in: query
          description: (This needs to be leads tier value or null) (Pass the tier of the logged in customer to get tier specific rules) (Ignored if the tier does not exist)
          schema:
            type: string
            nullable: true
        - name: membership
          in: query
          description: (This needs to be leads membership value or null) (Pass the membership of the logged in customer to get membership specific rules) (Ignored if the membership does not exist)
          schema:
            type: string
            nullable: true
        - name: x-source
          in: header
          description: (Required) (This can only be one of mobile,unix,web)
          required: true
          schema:
            type: string
        - name: x-apikey
          in: header
          description: (Required) (This needs to be your apikey) (Read only api key is sufficient)
          required: true
          schema:
            type: string
        - name: x-workspaceid
          in: header
[...]
